<header>
    <div class="container">
      <div class="nav">
        <div class="brand">ALVIN  PORTOFOLIO</div>

        <nav class="navlinks" aria-label="Primary Navigation">
          <a href="#home">Home</a>
          <a href="#projects">Projects</a>
          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/alvinmmlna/">LinkedIn</a>
        </nav>

        <!-- <div class="lang" title="Language toggle (UI only)">
          <button class="active" type="button">EN</button>
          <button type="button">ID</button>
        </div> -->
      </div>
    </div>
  </header>
